* {
	box-sizing: border-box;
}

#ctheader {
	z-index: -1;
	height: initial;
}

.surveys {
	float: right;
	width: 200px;
}

.surveys a {
	display: block;
}

#ctmain a.active {
	font-weight: bold;
}

.main {
	width: calc(100% - 210px);
}

.main .section_tabs {
	padding-bottom: 10px;
}

.main .section_tabs a {
	margin: 20px;
}

.main .demos > div > div {
	clear: both;
}

.pages a {
	padding: 0 32px;
}

.page {
	clear: both;
}

.page .images:before {
	content: "images";
}

.page .images {
	float: right;
	width: 48%;
}

.page .images img {
	width: 100%;
}

.page .questions:before {
	content: "questions";
}

.page .questions {
	width: 50%;
}