#ctmain * {
	box-sizing: border-box;
}

.surveys {
	float: right;
	width: 200px;
}

.surveys a {
	display: block;
}

#ctmain a.active {
	font-weight: bold;
}

.main {
	width: calc(100% - 210px);
}

.pages a {
	padding: 32px;
}

.page .images:before {
	content: "images";
}

.page .images {
	float: right;
	width: 48%;
}

.page .images img {
	width: 100%;
}

.page .questions:before {
	content: "questions";
}

.page .questions {
	width: 50%;
}